@import "prepare.scss";
/* Блок1 хедер-------------------------------------------------------------*/
@media (max-width: 768px) {
    .nav__icon {
        display:inline-block
    }
}

@media (max-width: 768px) {
    .nav__links {
        display:none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        margin-top: 75px;
        background-color: #000;
        overflow: auto
    }
}

@media (max-width: 768px) {
    .nav__link {
        display:block;
        margin-left: 0;
        padding: 10px 0;
        color: #ffffff;
        text-align: center
    }
}
/* Блок1 хедер-------------------------------------------------------------*/
/* Второй------------------------------------------------------------------*/
@media (max-width: 576px) {
    .hero {
        padding:40px 0
    }
}

@media (max-width: 768px) {
    .hero__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        .hero__logo{
            margin-left: 100px;
        }
        .main-title--level--1{
            text-align: center;
        }
        .main-title--level--1:after{
            left: 30%;
        }
    }
}
@media (max-width: 576px) {
    .hero__info{
        .main-title--level--1:after{
            left: 25%;
        }
    }
}
@media (max-width: 425px) {
    .hero__info{
        .main-title--level--1:after{
            left: 30%;
        }
    }
}
@media (max-width: 375px) {
    .hero__info{
        .main-title--level--1:after{
            left: 25%;
        }
    }
}
@media (max-width: 320px) {
    .hero__info{
        .main-title--level--1:after{
            left: 20%;
        }
    }
}
@media (max-width: 768px) {
    .hero__text {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .hero__info {
        width:100%;
        margin-bottom: 4rem
    }
}

@media (max-width: 425px) {
    .hero__logo {
        display: none;
    }
    .hero__info{
        text-align: center;
    }
    .main-title{
        font-size: 36px;
    }
    .hero__info a{
        padding: 15px 100px;
    }
    .main-title--level--1:after {
        content: '';
        position: absolute;
        left: 30%;
        bottom: -34px;
        width: 170px;
    }
    .hero__form-wrapper{
        margin-left: 20px;
    }
}
@media (max-width: 375px) {
    .main-title--level--1:after {
        content: '';
        position: absolute;
        left: 25%;
        bottom: -34px;
        width: 170px;
    }
    .hero__form-wrapper{
        margin-left: 7px;
    }
}
@media (max-width: 320px) {
    .main-title--level--1:after {
        content: '';
        position: absolute;
        left: 20%;
        bottom: -34px;
        width: 170px;
    }
}

@media (max-width: 768px) {
    .hero__form-wrapper {
        width:100%
    }
}

@media (max-width: 768px) {
    .hero__form {
        margin-left:0
    }
}

@media (max-width: 768px) {
    .hero__form-fields {
        padding:30px 20px
    }
}

@media (max-width: 768px) {
    .hero__form-wrapper{
        display: flex;
        justify-content: center;
    }
    .hero__form-wrapper .hero__form{
    margin: 0%;
    }
}

/* Второй------------------------------------------------------------------*/
/* Третий------------------------------------------------------------------*/
@media (max-width: 768px) {
    .social__info {
        width:100%;
        margin-bottom: 1rem
    }
}
@media (max-width: 768px) {
    .social__info {
        width:100%;
        margin-bottom: 1rem;
    }
}
@media (max-width: 425px) {
    .social__info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
}

@media (max-width: 768px) {
    .social__links {
        width:100%;
        padding: 0;
        font-size: 2rem;
        justify-content: space-around;
    }
    .social__links img{
        width:30px;
        height: 30px;
    }
}
/* Третий------------------------------------------------------------------*/
/* Четвертый------------------------------------------------------------------*/
@media (max-width:827px) {
    .tabs__leftpart{
        padding-left: 20px;
        padding-top: 20px;
    }
    .tabs__topic{
        margin-bottom: 50px;
    }
    .tabs__last-text{
        margin-bottom: 30px;
    }
}
@media (max-width:642px){
    .tabs__image-wrapper{
        display: none;
    }
    .tabs__header{
        display: flex;
    }
    .tabs__item{
        width: 30%;
    }
    .tabs__leftpart{
        width: 100%;
        text-align: center;
    }
    .tabs__topic{
        justify-content: center;
    }
    .tabs__leftpart p{
        font-size: 14px;
    }
}
/* Четвертый------------------------------------------------------------------*/
/* Пятый------------------------------------------------------------------*/
@media (max-width: 576px) {
    .about {
        padding:40px 0
    }
}

@media (max-width: 768px) {
    .about__text {
        margin-bottom:42px
    }
}

@media (max-width: 768px) {
    .about__list {
        flex-direction: column
    }
}

@media (max-width: 768px) {
    .about__item {
        width:100%;
        margin-bottom: 2.5rem
    }
    .about__item:last-child {
        margin-bottom: 0
    }
}
/* Пятый------------------------------------------------------------------*/
/* Шестой------------------------------------------------------------------*/
@media (max-width: 576px) {
    .pricing {
        padding:40px 0
    }
}

@media (max-width: 576px) {
    .pricing__text {
        margin-bottom:42px
    }
}

@media (max-width: 768px) {
    .pricing__list {
        flex-direction: column;
        align-items: center
    }
}

@media (max-width: 768px) {
    .pricing__item {
        width:100%;
        max-width: 300px;
        margin-bottom: 2rem
    }
    ._seconditem{
        margin-top: 30px;
    }
    .pricing__item:last-child {
        margin-bottom: 0
    }
}

/* Шестой------------------------------------------------------------------*/
/* Седьмой------------------------------------------------------------------*/
@media (max-width: 576px) {
    .reviews {
        padding:40px 0
    }
}

@media (max-width: 576px) {
    .reviews__text {
        margin-bottom:42px
    }
}

@media (max-width: 768px) {
    .reviews__list {
        flex-direction: column;
        align-items: center
    }
}

@media (max-width: 768px) {
    .reviews__item {
        width:100%;
        max-width: 300px;
        margin-bottom: 2rem
    }
    .reviews__item:last-child {
        margin-bottom: 0
    }
}

@media (max-width: 425px){
    .reviews__item:nth-child(1){
        display: none;
    }
    .reviews__item:nth-child(3){
        display: none;
    }
    .reviews__item::after{
        content: url(../images/dots.svg);
        position: relative;
        left: 25%;
        top:40px;
    }
} 
/* Седьмой------------------------------------------------------------------*/
/* Восьмой------------------------------------------------------------------*/

@media (max-width: 768px) {
    .custom {
        min-height:auto
    }
}
/* Восьмой------------------------------------------------------------------*/
/* Девятый------------------------------------------------------------------*/

@media (max-width: 576px) {
    .contact {
        padding:40px 0
    }
}

@media (max-width: 576px) {
    .contact__text {
        margin-bottom:42px
    }
}

@media (max-width: 768px) {
    .contact__form-fields {
        flex-direction: column;
        margin-bottom: 2rem
    }
}

@media (max-width: 768px) {
    .contact__form-col {
        width:100%
    }
}
/* Девятый------------------------------------------------------------------*/
/* Десятый------------------------------------------------------------------*/
@media (max-width: 768px) {
    .footer__links img{
        width: 45px;
        height: 45px;
    }
}
@media (max-width: 425px) {
    .footer__links img{
        width: 26px;
        height: 26px;
    }
}
/* Десятый------------------------------------------------------------------*/